@font-face {
    font-family: roboto;
    src: url('./Fonts/Roboto-Regular.ttf');
}

html {
    font-family: roboto;
    background-color: gainsboro;
}

.commands, .tag {
    font-style: italic;
    font-weight: bold;
    background-color: beige;
}

h2 {
    color: rebeccapurple;
    text-align: center;
}
  
h1 {
    text-align: center;
}
   
table {
    border: 2px solid darkorchid;
    width: 650px;
    margin: 0 auto;
}
  
thead {
    background-color: plum;
}
  
td {
    border-top: 1px solid darkorchid;
}
  
  