@font-face {
    font-family: roboto;
    src: url('./Fonts/Roboto-Regular.ttf');
}

html {
    font-family: roboto;
    background-color: gainsboro;
}

.commands, .tag {
    font-style: italic;
    font-weight: bold;
    background-color: beige;
}

h2 {
    color: rebeccapurple;
    text-align: center;
}
  
h1, p {
    text-align: center;
}
   
table {
    border: 2px solid darkorchid;
    width: 650px;
    margin: 0 auto;
}
  
thead {
    background-color: plum;
}
  
td {
    border-top: 1px solid darkorchid;
}

.banner {
    background-image: url('./Images/mathematics-intricate-formulas-a67er6d0w5gm1ljk.jpg');
}
  
@media screen and (max-width: 500px) {
    
    table {
        border: 2px solid darkorchid;
        width: 400px;
        margin: 0 auto; 
    }
    
}